/*RESETE DE ESTILO DO SITE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/*Boot CSS*/
img{
    width: 100%;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
}

